<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs/">Blogs</a></li>
        <li><a href="/users/">Users</a></li>
      </ul>
    </header>

    <h1>User Details</h1>
    <h2>{{name}}</h2>
    <h4>{{email}}</h4>
    <h4>{{password}}</h4>
</body>
</html>