<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header }}

    <h1>Users</h1>
    {{#if users}}
    {{#each users }}
    <h3><a href="/users/{{id}}">{{name}}</a></h3>
    <hr>
    {{/each}}
    {{else}}
    <h2>No User Found</h2>
    {{/if}}
</body>
</html>