<header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs/">Blogs</a></li>
        <li><a href="/users/">Users</a></li>
        <li><a href="/addBlog/">Add Blog</a></li>
      </ul>
    </header>